/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}